.handbook {
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 50rem;
  padding: 10px;
  padding-top: 2rem;
}

.button_wrapper {
  width: 8rem;
  padding-top: 2rem;
}