.searchBar {
    width: 100%;
    border-radius: 10px;
    position: relative;
    padding: 3px;
    background-color: white;
}

input {
    padding: 5px;
    border: none;
    background-color: inherit;
    width: 100%;
}

form {
    display: flex;
    justify-content: space-between;
}

textarea:focus, input:focus{
    outline: none;
}

.iconButton {
    background-color: inherit;
    border: none;
}
