.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

.accent {
  background-color: var(--accent);
}

.clear {
  background-color: inherit;
}

.Button {
  cursor: pointer;
  padding: 1rem;
  border: none;
  border-radius: 6px;
  color: var(--text);

   &:hover {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
   }
}

