.main_page {
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.search_section {
  padding-top: 8rem;
}

.topic {
  font-size: var(--font-size-l);
  text-align: center;
}

.seach_wrapper {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text {
  font-size: var(--font-size-s);
  text-align: center;
}

.searchbar_wrapper {
  height: 3rem;
}
