.answers_wrapper {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {

    }
}

.ratio_button {
    padding: 0.5rem;
    border-radius: 50%;
    border: none;
}

.answer {
    display: flex;
    align-items: center;
    gap: 6px;
}

.answer2 {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: var(--accent);
}

.check_button {
    border-radius: 50%;
    border: 1px solid black;
}