.topics_section {
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
  min-height: 50rem;
  padding-top: 2rem;
  font-size: var(--font-size-m);

  li {
    cursor: pointer;
  }
}

.topics_list_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
  font-size: 1rem;
  gap: 10px;

  @media (width <= 550px) {
    grid-template-columns: 1fr;
  }
}

.topics_wrapper {
  font-size: var(--font-size-m);
}
