.data_section {
    border-radius: 7px;
    background-color: inherit;
    padding-top: 6rem;
}

.accordion_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.accordion_button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    border: none;
    border-radius: 7px 7px 0 0;
    height: 3rem;
    cursor: pointer;

    span {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-left: 1rem;
        color: var(--text);
    }
}

.chevron_icon {
    color: var(--accent);
}

.panel {
    min-height: 10rem;
    width: 100%;
    background-color: var(--secondary);
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 0 0 7px 7px;
}

.panel_wrapper {
    width: 100%;
}